.weather-point {
  display: flex;
  align-items: center;
}

.first-circle {
  width: 130px;
  height: 130px;
  margin-left: -150px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 300;
}

.second-circle {
  width: 170px;
  height: 170px;
  margin-left: -180px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.25;
  z-index: 200;
}

.third-circle {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.2;
  z-index: 100;
}

.weather-point.small .first-circle {
  width: 34px;
  height: 34px;
  margin-left: -38px;
}

.weather-point.small .second-circle {
  width: 42px;
  height: 42px;
  margin-left: -47px;
}

.weather-point.small .third-circle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}