.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0%;
  width: 33%;
  background-color: #53478d;
  z-index: 9999;
  transition: right 200ms ease-in;
}

.menu-wrap {
  padding: 15px;
}

.menu-enter {
  right: -33%;
}
.menu-enter-active {
  right: 0%;
}
.menu-exit {
  right: 0%;
}
.menu-exit-active {
  right: -33%;
}

.menu.close {
  right: -33%;
}

.menu.open {
  right: 0%;
}

/* Text format */

.menu-title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.menu-text {
  display: flex;
  color: #fff;
  margin-bottom: 10px;
}

.menu-label {
  flex: 1;
}

.menu-value {
  flex: 2;
}