.current-weather {
  display: flex;
  width: 650px;
  margin: 110px auto 0;
}

.weather-img {
  flex-grow: 3;
}

.weather-info {
  flex-grow: 2;
  margin-top: 45px;
}

.weather-country {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  opacity: 0.8;
}

.weather-city {
  font-size: 35px;
  color: #fff;
  font-weight: 600;
}

.weather-temp {
  font-size: 25px;
  color: #fff;
  font-weight: 300;
  opacity: 0.8;
}